streamlit
pandas
numpy
scikit-learn
matplotlib
seaborn
pdfplumber
docx2txt
pytesseract
pdf2image
sentence-transformers
spacy==3.5.3
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
regex
