streamlit
pandas
numpy
scikit-learn
matplotlib
seaborn
pdfplumber
docx2txt
pytesseract
pdf2image
sentence-transformers
spacy
regex
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
